.login{
  margin-top: 200px;
  text-align: center;
}
.tittle{
  color: #002984;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
}
.password{
  margin-top: 20px;
}
.alertLogin{
  color: red;
  margin-top: 7px;
}